@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Delicious+Handrawn&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Solway:wght@300;400;500;700;800&family=Trade+Winds&family=Wire+One&display=swap');

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.8)),
    url('../images/ab3.jpg') no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Solway', serif;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  list-style: none;
}

a {
  position: relative;
  display: block;
  padding: 15px 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: lightyellow;
  font-size: 22px;
  font-weight: 700;
  text-shadow: 2px 2px 2px #ff4500;
}
