@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Delicious+Handrawn&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Solway:wght@300;400;500;700;800&family=Trade+Winds&family=Wire+One&display=swap');

body {
  background: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.6)),
    url('../images/ab.jpg') no-repeat center;
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}
